html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* background: rgb(66, 168, 66); */
}

.hj{
  color: lightseagreen;
}

.wordpress-card{
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}

.wordpress-card:hover{
  cursor: pointer;
  transition: 0.5s ease-in;
  width: 490px;
  height: 280px;
  /* border-radius: 0; */
  /* transform: translate(); */
}

.box-shadow{
  box-shadow: 1px 0 4px 6px hsl(218deg 21% 20%);
  /* border: 1px solid red; */
}